@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src:
        local('Open Sans'),
        local('OpenSans'),
        url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src:
        local('Open Sans Light'),
        local('OpenSans Light'),
        url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

body.kinetica-jsdoc {
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body.kinetica-jsdoc {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: white;
}

body.kinetica-jsdoc a, body.kinetica-jsdoc a:visited, body.kinetica-jsdoc a:active {
    color: #0095dd;
    text-decoration: none;
}

body.kinetica-jsdoc a:hover {
    text-decoration: underline;
}

body.kinetica-jsdoc header {
    display: block;
    padding: 0px 4px;
}

body.kinetica-jsdoc tt, body.kinetica-jsdoc code, body.kinetica-jsdoc kbd, body.kinetica-jsdoc samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

body.kinetica-jsdoc .class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

body.kinetica-jsdoc .class-description:empty {
    margin: 0;
}

body.kinetica-jsdoc #main {
    float: left;
    width: 70%;
}

body.kinetica-jsdoc article dl {
    margin-bottom: 40px;
}

body.kinetica-jsdoc article img {
  max-width: 100%;
}

body.kinetica-jsdoc section {
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

body.kinetica-jsdoc .variation {
    display: none;
}

body.kinetica-jsdoc .signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

body.kinetica-jsdoc nav {
    display: block;
    float: right;
    margin-top: 28px;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

body.kinetica-jsdoc nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body.kinetica-jsdoc nav ul a, body.kinetica-jsdoc nav ul a:visited, body.kinetica-jsdoc nav ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 18px;
    color: #4D4E53;
}

body.kinetica-jsdoc nav h3 {
    margin-top: 12px;
}

body.kinetica-jsdoc nav li {
    margin-top: 6px;
}

body.kinetica-jsdoc footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

body.kinetica-jsdoc h1, body.kinetica-jsdoc h2, body.kinetica-jsdoc h3, body.kinetica-jsdoc h4 {
    font-weight: 200;
    margin: 0;
}

body.kinetica-jsdoc h1 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

body.kinetica-jsdoc h2, body.kinetica-jsdoc h3.subsection-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

body.kinetica-jsdoc h3 {
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
}

body.kinetica-jsdoc h4 {
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
}

body.kinetica-jsdoc h5, body.kinetica-jsdoc .container-overview .subsection-title {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

body.kinetica-jsdoc h6 {
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

body.kinetica-jsdoc table {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

body.kinetica-jsdoc td, body.kinetica-jsdoc th {
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

body.kinetica-jsdoc thead tr {
    background-color: #ddd;
    font-weight: bold;
}

body.kinetica-jsdoc th { border-right: 1px solid #aaa; }
body.kinetica-jsdoc tr > th:last-child { border-right: 1px solid #ddd; }

body.kinetica-jsdoc .ancestors, body.kinetica-jsdoc .attribs { color: #999; }
body.kinetica-jsdoc .ancestors a, body.kinetica-jsdoc .attribs a {
    color: #999 !important;
    text-decoration: none;
}

body.kinetica-jsdoc .clear {
    clear: both;
}

body.kinetica-jsdoc .important {
    font-weight: bold;
    color: #950B02;
}

body.kinetica-jsdoc .yes-def {
    text-indent: -1000px;
}

body.kinetica-jsdoc .type-signature {
    color: #aaa;
}

body.kinetica-jsdoc .name, body.kinetica-jsdoc .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

body.kinetica-jsdoc .details { margin-top: 14px; border-left: 2px solid #DDD; }
body.kinetica-jsdoc .details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
body.kinetica-jsdoc .details dd { margin-left: 70px; }
body.kinetica-jsdoc .details ul { margin: 0; }
body.kinetica-jsdoc .details ul { list-style-type: none; }
body.kinetica-jsdoc .details li { margin-left: 30px; padding-top: 6px; }
body.kinetica-jsdoc .details pre.prettyprint { margin: 0 }
body.kinetica-jsdoc .details .object-value { padding-top: 0; }

body.kinetica-jsdoc .description {
    margin-bottom: 1em;
    margin-top: 1em;
}

body.kinetica-jsdoc .code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

body.kinetica-jsdoc .source {
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

body.kinetica-jsdoc .prettyprint.source {
    width: inherit;
}

body.kinetica-jsdoc .source code {
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

body.kinetica-jsdoc .prettyprint code span.line {
  display: inline-block;
}

body.kinetica-jsdoc .prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.kinetica-jsdoc .prettyprint.linenums ol {
  padding-left: 0;
}

body.kinetica-jsdoc .prettyprint.linenums li {
  border-left: 3px #ddd solid;
}

body.kinetica-jsdoc .prettyprint.linenums li.selected, body.kinetica-jsdoc .prettyprint.linenums li.selected * {
  background-color: lightyellow;
}

body.kinetica-jsdoc .prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body.kinetica-jsdoc .params .name, body.kinetica-jsdoc .props .name, body.kinetica-jsdoc .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

body.kinetica-jsdoc .params td.description > p:first-child, body.kinetica-jsdoc .props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

body.kinetica-jsdoc .params td.description > p:last-child, body.kinetica-jsdoc .props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

body.kinetica-jsdoc .disabled {
    color: #454545;
}
