




body.kinetica-jsdoc .pln {
  color: #4d4d4c; }

@media screen {
  
  body.kinetica-jsdoc .str {
    color: #718c00; }

  
  body.kinetica-jsdoc .kwd {
    color: #8959a8; }

  
  body.kinetica-jsdoc .com {
    color: #8e908c; }

  
  body.kinetica-jsdoc .typ {
    color: #4271ae; }

  
  body.kinetica-jsdoc .lit {
    color: #f5871f; }

  
  body.kinetica-jsdoc .pun {
    color: #4d4d4c; }

  
  body.kinetica-jsdoc .opn {
    color: #4d4d4c; }

  
  body.kinetica-jsdoc .clo {
    color: #4d4d4c; }

  
  body.kinetica-jsdoc .tag {
    color: #c82829; }

  
  body.kinetica-jsdoc .atn {
    color: #f5871f; }

  
  body.kinetica-jsdoc .atv {
    color: #3e999f; }

  
  body.kinetica-jsdoc .dec {
    color: #f5871f; }

  
  body.kinetica-jsdoc .var {
    color: #c82829; }

  
  body.kinetica-jsdoc .fun {
    color: #4271ae; } }

@media print, projection {
  body.kinetica-jsdoc .str {
    color: #060; }

  body.kinetica-jsdoc .kwd {
    color: #006;
    font-weight: bold; }

  body.kinetica-jsdoc .com {
    color: #600;
    font-style: italic; }

  body.kinetica-jsdoc .typ {
    color: #404;
    font-weight: bold; }

  body.kinetica-jsdoc .lit {
    color: #044; }

  body.kinetica-jsdoc .pun, body.kinetica-jsdoc .opn, body.kinetica-jsdoc .clo {
    color: #440; }

  body.kinetica-jsdoc .tag {
    color: #006;
    font-weight: bold; }

  body.kinetica-jsdoc .atn {
    color: #404; }

  body.kinetica-jsdoc .atv {
    color: #060; } }




body.kinetica-jsdoc ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }


body.kinetica-jsdoc li.L0, body.kinetica-jsdoc li.L1, body.kinetica-jsdoc li.L2, body.kinetica-jsdoc li.L3, body.kinetica-jsdoc li.L4, body.kinetica-jsdoc li.L5, body.kinetica-jsdoc li.L6, body.kinetica-jsdoc li.L7, body.kinetica-jsdoc li.L8, body.kinetica-jsdoc li.L9 {
   }


body.kinetica-jsdoc li.L1, body.kinetica-jsdoc li.L3, body.kinetica-jsdoc li.L5, body.kinetica-jsdoc li.L7, body.kinetica-jsdoc li.L9 {
   }
