


body.kinetica-jsdoc .pln {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .str {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .kwd {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}


body.kinetica-jsdoc .com {
  font-weight: normal;
  font-style: italic;
}


body.kinetica-jsdoc .typ {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .lit {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .pun {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}


body.kinetica-jsdoc .opn {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}


body.kinetica-jsdoc .clo {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}


body.kinetica-jsdoc .tag {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .atn {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .atv {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .dec {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}


body.kinetica-jsdoc .var {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}


body.kinetica-jsdoc .fun {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}


body.kinetica-jsdoc ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
